<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>gerenciador</display-name>
  <welcome-file-list>
    <welcome-file>bienvenido.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UnicaEntradaServlet</display-name>
    <servlet-name>UnicaEntradaServlet</servlet-name>
    <servlet-class>com.alura.gerenciador.servlet.UnicaEntradaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnicaEntradaServlet</servlet-name>
    <url-pattern>/entrada</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AutenticadorFilter</display-name>
    <filter-name>AutenticadorFilter</filter-name>
    <filter-class>com.alura.gerenciador.servlet.AutenticadorFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutenticadorFilter</filter-name>
    <url-pattern>/entrada</url-pattern>
  </filter-mapping>
</web-app>