<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>gerenciador</display-name>
  <welcome-file-list>
    <welcome-file>bienvenido.html</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>AutenticadorFilter</display-name>
    <filter-name>AutenticadorFilter</filter-name>
    <filter-class>com.alura.gerenciador.servlet.AutenticadorFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutenticadorFilter</filter-name>
    <url-pattern>/entrada</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>Servlet</display-name>
    <filter-name>Servlet</filter-name>
    <filter-class>com.alura.gerenciador.servlet.ServletFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Servlet</filter-name>
    <url-pattern>/entrada</url-pattern>
  </filter-mapping>
</web-app>